*{
  box-sizing: border-box;
  margin:0;
  padding: 0;

  flex-grow:1;
  flex-shrink:1
}
html, body {
  height:100%;
}
#headerNav{
  width:100%;
  position:fixed;
  height: 40px;
  min-height: 35px;
  background-color: rgb(0, 213, 181);
  box-shadow:5px 3px 5px rgb(0, 91, 91);
  top: 0;
  z-index:6;
}
#headerUl {

  text-align: center;
  margin-top: 8px;
}
#headerUl li{
  display:inline-flex;
  font-size: 1.1vw;
  width: 15vw;
  align-items: center;
  justify-content: center;
  border-left: 2px solid grey;
}
#lastNav{
  border-right: 2px solid grey;
}
li:hover{
  transform: scale(1.1);
  background-color: rgb(0, 91, 91);
  color: white;
  padding: auto;
}

body{

  margin: 0 auto;
  background-image: linear-gradient(to bottom left, rgb(158, 158, 158),whitesmoke );
}

#main{
  display: flex;
  position: absolute;
  height: 100%;
  width: 80%;
  /* background-color: yellow; */
 font-size: 50px;
 margin:0 10vw;
 top: 20px;

}

#topBox{
  display: flex;
  flex-direction:column;

  width: 400px;
  height: 700px;
  margin: 40px auto;

  /* align-items: center; */
  justify-content: flex-start;
  text-align: left;
  background-color: rgb(0, 213, 181);
  border: 4px solid grey;
  box-shadow:-5px -3px 5px rgb(0, 91, 91);



}
h5{font-family: Cinzel, sans-serif;
 text-align: center;

}
 h6{ font-family: Cinzel, sans-serif;
  text-align: center;
}
#sideUl{


  list-style: none;
  font-size: 20px;
  margin: 0 20px;



}
#sideUl li{

  font-family: Teko, sans-serif;
  margin: 20px;
  padding-left: 5px;
  border: 2px solid whitesmoke;
  border-radius:10px;
  background-color: grey;
  box-shadow:-5px -3px 5px rgb(0, 91, 91);
}
#sideUl li:hover{
  transform: scale(1.1);
  background-color: rgb(0, 91, 91);
  color: white;
}


#photoBox{
  margin:0 auto;
  margin-top: 2vw;
  min-width: 200px;
  min-height: 200px;
  background-color: white;
  border: 4px solid grey;
  overflow: hidden;
}

#rightSide{
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  height: 100%;
  height: 700px;

  overflow-x : scroll;
  /* background-image: linear-gradient(to bottom left, rgb(158, 158, 158),whitesmoke ); */
}
.sideCards{
  display: flex;
  width: 100%;
  min-height: 300px;
  margin: 5px 0;
  min-width: 500px;
background-color: whitesmoke;
box-shadow:5px 3px 5px rgb(0, 91, 91);
}
#topCard{
  /* margin-top: 50px; */
}
.articles{
  font-size: 20px;
  width: 100%;
  height:250px;
  margin: auto 60px;
  background-color: grey;
  opacity: .7;
}
 .articles:hover{
  transform: scale(1.1);
  opacity: 1;

  z-index: 6;
}







.slideBox {
  position: relative;
  width: 300px;
  height:300px;
  border: 1px solid green;
  margin: 0 auto;
  overflow: hidden;
}




#horizontal-object {
  position: relative;
  width:800%;
  height: 500px;
  transform: translateX(0px);
  transition:animation-play-state 1s ease-in-out;
  animation-play-state: running;
  animation: horizontalTransform 30s ease-in-out;
  animation-iteration-count:10;
  display: flex;
  /* flex-flow: row nowrap; */
  align-items: center;
  cursor: ew-resize;
  /*  */
  transform: translateX(0px)

  animation: dot 1s steps(1, end) forwards;

  animation-timeline: slide;

}
/* #horizontal-object:hover{
animation-play-state: paused;
  /* animation-iteration-count:0;
  }*/


#horizontal-object:hover {
  animation-play-state: paused;
  animation-iteration-count:"" ;
}
.horizontal-card {
  height: 500px;
  width: 800px;
  background: red;
  margin-right: 25px;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}



.slidecontainer {
  /* position: absolute; */

  width: 500px;
  margin:  0 auto;


}

.slider {
  appearance: none;
  width: 100%;
  height: 40px;
  background: #d3d3d3;
  outline: none;
  opacity:.5;
  transition: opacity 1s;
}
.slider:hover {
  opacity: 1;
  cursor: ew-resize;
}
footer{
  position:fixed;
  bottom: 0;
  width: 100%;
  height:30px;
  background-color: rgb(0, 213, 181);
  box-shadow:-5px -3px 5px rgb(0, 91, 91);
  z-index: 6;
}
a{
  color: black;
  text-decoration:none;
}

/* @keyframes scrolldown {
  from {
    top: 0;
  }

  to {
    top: 300px;
  }
} */
s1{
  animation-play-state: running;
  animation: horizontalTransform 30s ease-in-out;
  animation-iteration-count:10;
}

@keyframes horizontalTransform {
  0% {
    opacity: 1;
    transform: translateX(-475px);
  }
  20%{
    transform: translateX(-675px);
    opacity: .2; }
  40% {
    opacity: 1;
    transform: translateX(-800px);
  }
  60%{
    opacity: 1;

  }
  80%{transform: translateX(-1200px);
    opacity: .2;
  }
  100% {
    opacity: 1;
    transform: translateX(-2000px);
  }


#output{
  font-size: 25px;
}



.slider div {
   /* need to hide the horizontal scrollbar of
    * the inner list
    */
   overflow: hidden;

   /* using logical properties instead of
    * width and/or height
    */
   inline-size: 80%;
   min-inline-size: 300px;
   max-inline-size: 680px;
   margin: 4rem auto;
   aspect-ratio: 2 / 1;
   border: 1px #e2e2e2 solid;
   box-shadow: 0 0 60px rgba(0, 0, 20, .6);
   border-radius: 1rem;
}

/*
.slider ul {
   display: flex;
   flex-flow: row nowrap;
   overflow-x: scroll;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   cursor: ew-resize;


   block-size: calc(100% + 25px);

} */
/* a{ width: 200px;
} */
/* .slider li {
   flex: 0 0 100%;
   scroll-snap-align: start;
   scroll-snap-stop: always;

   block-size: calc(100% - 25px);
} */

/* .slider img {
   object-fit: cover;
   max-inline-size: 100%;
   block-size: 100%;
} */


.slider nav {
   position: relative;
   display: flex;
   margin: 0 auto;
   inline-size: max-content;

   /* DRY: set here the gap between the dots,
    * we will need it later to set the position
    * of the nav::before pseudoelement
    */
   /* --gap: .8rem;
   gap: var(--gap, .5rem); */
}




#slideNav{
font-size: 50px;

}

/* .slider nav::before {
   content: "";
   position: absolute;
   z-index: 1;
   display: block;
   cursor: not-allowed;


   here we use the above --gap variable.
    * the --slide variable is set in the
    * keyframes below.

   transform: translateX(
      calc((100% + var(--gap, .5rem)) *
      calc(var(--slide, 1) - 1))
   );
   animation: dot 1s steps(1, end) forwards;

   animation-timeline: slide;
} */


/* timeline animation */
@scroll-timeline slide {
   source: selector(#s);
   orientation: inline;
   time-range: 1s;
}

@keyframes dot {
   0%    { --slide: 1; }
   12.5% { --slide: 2; }
   37.5% { --slide: 3; }
   62.5% { --slide: 4; }
   87.5%, 100% { --slide: 5; }
}
