*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  flex-grow:0;
  flex-shrink:0;
}
html, body {
  height:100%;
  /* overflow: hidden; */
}
#headerNav{
  width:100%;
  position:fixed;
  height: 40px;
  min-height: 35px;
  background-color: rgb(0, 213, 181);
  box-shadow:5px 3px 5px rgb(0, 91, 91);
  top: 0;
  z-index:6;
}
#headerUl {
  text-align: center;
  margin-top: 8px;
}
#headerUl li{
  display:inline-flex;
  font-size: 1.1vw;
  width: 15vw;
  align-items: center;
  justify-content: center;
  border-left: 2px solid grey;
}
#lastNav{
  border-right: 2px solid grey;
}
li:hover{
  transform: scale(1.1);
  background-color: rgb(0, 91, 91);
  color: white;
  padding: auto;
}
a{
  color: black;
  text-decoration:none;
}
body{

  background-image: linear-gradient(to bottom left, rgb(158, 158, 158),whitesmoke );
}
#main{
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom left, rgb(158, 158, 158),whitesmoke );
  height: 100%;
  width:80%;
  padding: 25px;
  padding-top: 80px;
  margin: auto;
  justify-content: center;
  overflow-x: scroll;
  box-shadow:-5px 3px 5px rgb(0, 91, 91), 5px 3px 5px rgb(0, 91, 91);
}
.title{
  width: 100%;
  background-color: grey;
  text-align:center;
  box-shadow: 5px 3px 5px rgb(0, 91, 91);

}
.contentBoxes{
  width: 225px;
  height: 225px;
  margin: 10px;
  background-color: white;
  opacity: .8;
  overflow: hidden;
  border: 5px solid rgb(0, 213, 181);
  border-radius: 10px;
  background-size: 225px 225px;
  background-repeat: no-repeat;
  transition: all .01s ease-in-out;
  box-shadow: 10px 10px 10px rgb(0, 91, 91);
}
.contentBoxes:hover{
  z-index: 2;
  opacity: 1;
}
footer{
  position:fixed;
  bottom: 0;
  width: 100%;
  height:30px;
  background-color: rgb(0, 213, 181);
  box-shadow:-5px -3px 5px rgb(0, 91, 91);
  text-align: center;
  padding:5px;
  z-index: 6;
}

#zoomBox {
  display: none;
  position: fixed;
  z-index: 1;
  width: 600px;
  height: 600px;
  border: 5px solid  rgb(0, 213, 181);
  border-radius: 10px;
  background-size: 600px 600px;
  background-repeat: no-repeat;
  animation-name: zoom;
  animation-duration: 0.6s;
  background-color: rgba(0,0,0,0.9);
}
#captionBox{
  position: relative;
  width: 200px;
  height: 150px;
  margin:auto;
  /* margin-top: 575px; */
  margin-left: 600px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border: 4px solid rgb(0, 213, 181);
  border-radius: 10px;
  background-image: linear-gradient(to bottom left, rgb(158, 158, 158),whitesmoke );
}
#exit{
  position: relative;
  display: block;
  height: 25px;
  width:25px;
  left:575px;
  font-size: 25px;
  line-height: .9;
  text-align: center;
  align-items: center;
  border-radius: 25px;
  background-color: red;
  cursor: pointer;
}
#exit:hover{
  transform: scale(1.5);
}


@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
